.App {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

.map {
    width: 50%;
    height: 50%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
}

#location-pin {
    position: absolute;
    top: -50px;
    left: -25px;
    width: 50px;
    height: 50px;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#location-dot {
    /* font-size: 40px; */
    /* position: absolute; */
    /* top: -70px; */
}

@keyframes example {
    0% {
        top: -50px;
    }
    50% {
        top: -55px;
    }
    100% {
        top: -50px;
    }
}